#nickname {
  background: #beaee2;
  border-radius: 50%;
  padding: 0.3vw 1vw !important;
  position: absolute;
  z-index: 999;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: #ffffff;
}
#mbti {
  background: #3fbd09;
  border-radius: 50%;
  padding: 0.3vw 1vw !important;
  position: absolute;
  z-index: 999;
  top: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}
.form-control {
  color: black;
}

.pointer {
  cursor: pointer;
}

#closeButton {
  position: absolute;
  top: -3px;
  right: 0;
  z-index: 999;
}

#name-error-text {
  color: #fd6d5f;
  font-weight: bold;
  text-align: center;
}

#nicknameForm {
  padding: 10px;
}
.fullscreen {
  top: 40px;
}

.streamComponent {
  height: 100%;
  /* width: "height"; */
}

/* 비디오~~~ */
/*  */
video {
  position: absolute !important;
  top: 3% !important;
  left: 3% !important;
  -o-object-fit: cover !important;
  object-fit: cover !important;
  width: 94% !important;
  height: 94% !important;
  color: #ffffff;
  border-radius: 50% !important;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
canvas {
  position: absolute !important;
  top: 3% !important;
  left: 3% !important;
  -o-object-fit: cover !important;
  object-fit: cover !important;
  width: 94% !important;
  height: 94% !important;
  color: #ffffff;
  border-radius: 50% !important;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
/* video {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
} */

#basic {
  border-style: "solid";
  border-color: #8007e4;
  border-radius: 50%;
  box-shadow: 0 0 20px #8007e4;
  border-width: 10px;
}

#myTurn {
  border-radius: 50%;
  border-style: "solid";
  border-color: #df0b0e;
  box-shadow: 0 0 20px #df0b0e;
}

#statusIcons {
  border-radius: 50%;
  background: #ff1744;
  width: 40px;
  height: fit-content;
  position: absolute;
  bottom: 10%;
  left: 10%;
  z-index: 1000;
  color: #ffffff;
}
#LikeIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ff1744;
  position: absolute;
  z-index: 1000;
}
#camIcon,
#micIcon {
  text-align: center;
  padding: 6px;
}

#fullscreenButton {
  position: absolute;
  bottom: 1px;
  right: 1px;
  z-index: 1000;
  background-color: #000000c4;
}
#volumeButton {
  background-color: #000000c4;
  position: absolute;
  bottom: 10%;
  right: 10%;
  z-index: 1000;
  color: #ffffff;
}
/* Contains the video element, used to fix video letter-boxing */
.OT_widget-container {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

#input,
#label {
  color: white;
}
