#SpeedDialplaygroundexample-action-1 {
  visibility: hidden;
}

#SpeedDialplaygroundexample-action-2 {
  visibility: hidden;
}

#SpeedDialplaygroundexample-action-3 {
  visibility: hidden;
}

#SpeedDialplaygroundexample-action-0 {
  visibility: hidden;
}
