@font-face {
  font-family: "CookieR";
  src: url(assets/fonts/CookieRun\ Regular.ttf);
  /* font-weight: normal;
  font-style: normal; */
}
/* #A6095D */
/* #aae6db */
/*  #beaee2, #f7dbf0, #cdf0ea  */

#FontC {
  font-family: "CookieR" !important;
  cursor: url(assets/heartcursor.png) 15 15, auto !important;
}

body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow: auto;
  background: linear-gradient(315deg, #beaee2, #f7dbf0, #aae6db);
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
